* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

.main {
  height: 40px;
  width: 400px;
  position: relative;
  margin-left: 25px;
}
.name {
  position: absolute;
}
.value {
  position: absolute;
  right: 0px;
}

.full-bar {
  height: 10px;
  width: 100%;
  background-color: rgb(253, 150, 150);
  position: absolute;
  top: 50%;
  border-radius: 5px;
}
.value-bar {
  height: 10px;
  background-color: rgb(255, 0, 0);
  top: 50%;
  position: absolute;
  border-radius: 5px;
}
.html {
  width: 60%;
  animation: value_bar_html 1s ease;
}
.css {
  width: 85%;
  animation: value_bar_css 1s ease;
}
.js {
  width: 45%;
  animation: value_bar_js 1s ease;
}
.sql {
  width: 90%;
  animation: value_bar_sql 1s ease;
}

@keyframes value_bar_html {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes value_bar_css {
  0% {
    width: 0px;
  }
  100% {
    width: 85%;
  }
}
@keyframes value_bar_js {
  0% {
    width: 0px;
  }
  100% {
    width: 45%;
  }
}
@keyframes value_bar_sql {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
